.my-profile {
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-profile {
    padding: 20px;
    background-color: #1e1e1e;
    color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 600px; /* Prevents it from getting too wide on large screens */
    margin: 0 auto;
}

.profile-info {
    margin-bottom: 20px;
    color: white;
}

.game-history {
    margin-top: 20px;
}

.scrollable-history {
    max-height: 300px;
    overflow-y: auto;
    padding-right: 10px;
}

.game-history ul,
#gameRequest ul {
    list-style-type: none;
    padding: 0;
    color: white;
}

.game-history li,
#gameRequest li {
    margin-bottom: 10px;
    padding: 10px;
    background: #2a2a2a;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#gameRequest {
    margin-top: 20px;
}

#reject-btn {
    background-color: #db2e1a;
}

button {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

button:hover {
    background-color: #45a049;
}

/* Responsive Design */
@media (max-width: 600px) {
    .my-profile {
        padding: 15px;
    }

    .scrollable-history {
        max-height: 200px; /* Reduce scroll area for small screens */
    }

    button {
        padding: 8px;
        font-size: 14px;
    }
}
